* {
	background-color: black;
	box-sizing: border-box;
	color: white;
}

.title {
	text-align: center;
	font-family: monospace;
	color: white;
}
.contenedor-start {
	margin: 30px;
	height: 100px;
	display: flex;
}
.button-start {
	padding: 5px;
	margin: 25px auto;
	color: black;
	background-color: aliceblue;
	border: none;
	border-radius: 8px;
	transition: 0.2s;
}
.button-start:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(255, 110, 85);
}
.buttons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	max-width: 50%;
	margin: 0 auto;
	align-items: center;
	padding-top: 10rem;
}

.button {
	height: 200px;
	width: 200px;
	flex: 0 0 auto;
	border-radius: 10px;
	transition: 0.5s;
}
.button:hover {
	box-shadow: white 0px 0px 20px;
	border: solid white 5px;

	transition: 0.5s;
}

#button-1 {
	background-color: red;
}
#button-2 {
	background-color: rgb(255, 196, 0);
}
#button-3 {
	background-color: rgb(229, 255, 0);
}
#button-4 {
	background-color: rgb(136, 255, 0);
}
#button-5 {
	background-color: rgb(0, 255, 170);
}
#button-6 {
	background-color: rgb(0, 68, 255);
}
#button-7 {
	background-color: rgb(195, 0, 255);
}
#button-8 {
	background-color: rgb(255, 0, 212);
}

.glow {
	box-shadow: white 0px 0px 20px;
	border: solid white 5px;
	animation: jello;
	animation-duration: 1s;
	transition: 0.5s;
}

.animation {
	animation: jello;
	animation-duration: 1s;
}
